body{
    background-color: black;
    
}
.event{
    color: rgb(210, 248, 248);
    text-align: center;
    margin-top: 50px 0px;
}
label{
    padding-right: 60px;
}
.col-l-2{
    text-align: center;
}
